<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h1> Adicionar Investimento </h1>
        <form (submit)="register()">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="inv.name">
            </div>
            <div class="form-group">
                <label>Tipo</label>
                <input type="text" name="leg" class="form-control" [(ngModel)]="inv.leg">
            </div>
            <div class="form-group">
                <label>Preço</label>
                <input type="number" name="price" class="form-control" [(ngModel)]="inv.price">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label">Indicar Automaticamente</label>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
</div>